dotenv '.env'

source_env_if_exists ".envrc.local" 2>/dev/null;

if [ ! -f ".envrc.local" ] && [ "${SKIP_INIT:-false}" != "true" ]; then
  make --no-print-directory init;
fi

dotenv_if_exists ".env.auth"

env_vars_required COMPOSER_AUTH

layout php
