/.dev                           export-ignore
/.editorconfig                  export-ignore
/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/.mise.toml                     export-ignore
/.pre-commit-config.yaml        export-ignore
/.prettierignore                export-ignore
/.tool-versions                 export-ignore
/Brewfile                       export-ignore
/Gemfile                        export-ignore
/Gemfile.lock                   export-ignore
/Makefile                       export-ignore
/bun.lock                       export-ignore
/compose.yml                    export-ignore
/composer.json                  export-ignore
/composer.lock                  export-ignore
/deptrac.yaml                   export-ignore
/docker-sync.yml                export-ignore
/grumphp.yml                    export-ignore
/infection.json5.dist           export-ignore
/package.json                   export-ignore
/phpcs.dist.xml                 export-ignore
/phpmd.dist.xml                 export-ignore
/phpmetrics.yml                 export-ignore
/phpstan.dist.neon              export-ignore
/phpunit.dist.xml               export-ignore
/poetry.lock                    export-ignore
/psalm.xml                      export-ignore
/pyproject.toml                 export-ignore
/rector.php                     export-ignore
