{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
  "bootstrap": "./tests/bootstrap.php",
  "logs": {
    "text": ".build/logs/infection.log",
    "stryker": {
      "report": "main"
    }
  },
    "mutators": {
        "@default": true
    }
}
